﻿<h2 class="page-header">Medical Profile</h2>

<form class="form-horizontal">
    
    <div class="form-group" ng-repeat="group in vm.grouped">
        <label class="control-label col-sm-11">{{group.question.question}}?</label>
        
        <div class="col-sm-1">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="group.answer.answer" />
                </label>
            </div>
        </div>
    </div>

</form>