﻿
<h2 class="page-header">Member Registration</h2>

<form class="form-horizontal" name="memberRegistration" novalidate>
    
    <div class="form-group" ng-class="{
             'has-error has-feedback': (memberRegistration.firstName.$invalid && memberRegistration.firstName.$dirty) || (memberRegistration.$submitted && memberRegistration.firstName.$invalid),
             'has-success has-feedback': (memberRegistration.firstName.$valid && memberRegistration.firstName.$dirty) || (memberRegistration.$submitted && memberRegistration.firstName.$valid)}">
        <label class="control-label col-sm-2">First Name:</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" name="firstName" ng-model="vm.member.firstName" ng-required="true" ng-minlength="2" />

            <span ng-show="(memberRegistration.firstName.$valid && memberRegistration.firstName.$dirty) || (memberRegistration.$submitted && memberRegistration.firstName.$valid)"
                  class="glyphicon glyphicon-ok form-control-feedback"
                  aria-hidden="true">
            </span>
            <span ng-show="(memberRegistration.firstName.$invalid && memberRegistration.firstName.$dirty) || (memberRegistration.$submitted && memberRegistration.firstName.$invalid)"
                  class="glyphicon glyphicon-remove form-control-feedback"
                  aria-hidden="true">
            </span>
        </div>
    </div>
    
    <div class="form-group" ng-class="{
             'has-error has-feedback': (memberRegistration.lastName.$invalid && memberRegistration.lastName.$dirty) || (memberRegistration.$submitted && memberRegistration.lastName.$invalid),
             'has-success has-feedback': (memberRegistration.lastName.$valid && memberRegistration.lastName.$dirty) || (memberRegistration.$submitted && memberRegistration.lastName.$valid)}">
        <label class="control-label col-sm-2">Last Name:</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" name="lastName" ng-model="vm.member.lastName" ng-required="true" ng-minlength="2" />

            <span ng-show="(memberRegistration.lastName.$valid && memberRegistration.lastName.$dirty) || (memberRegistration.$submitted && memberRegistration.lastName.$valid)"
                  class="glyphicon glyphicon-ok form-control-feedback"
                  aria-hidden="true">
            </span>
            <span ng-show="(memberRegistration.lastName.$invalid && memberRegistration.lastName.$dirty) || (memberRegistration.$submitted && memberRegistration.lastName.$invalid)"
                  class="glyphicon glyphicon-remove form-control-feedback"
                  aria-hidden="true">
            </span>
        </div>
    </div>
    
    <div class="form-group" ng-class="{
             'has-error has-feedback': (memberRegistration.email.$invalid && memberRegistration.email.$dirty) || (memberRegistration.$submitted && memberRegistration.email.$invalid),
             'has-success has-feedback': (memberRegistration.email.$valid && memberRegistration.email.$dirty) || (memberRegistration.$submitted && memberRegistration.email.$valid)}">
        <label class="control-label col-sm-2">E-mail:</label>

        <div class="col-sm-10">
            <input type="email" class="form-control" name="email" ng-model="vm.member.email" ng-required="true" ng-minlength="4" />

            <span ng-show="(memberRegistration.email.$valid && memberRegistration.email.$dirty) || (memberRegistration.$submitted && memberRegistration.email.$valid)"
                  class="glyphicon glyphicon-ok form-control-feedback"
                  aria-hidden="true">
            </span>
            <span ng-show="(memberRegistration.email.$invalid && memberRegistration.email.$dirty) || (memberRegistration.$submitted && memberRegistration.email.$invalid)"
                  class="glyphicon glyphicon-remove form-control-feedback"
                  aria-hidden="true">
            </span>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-10">
            <button class="btn btn-primary pull-right clearfix" ng-click="vm.submit()">Submit</button>
        </div>
    </div>
</form>
