﻿<!DOCTYPE html>
<html ng-app="missionfitness">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        @Styles.Render("~/Content/bootstrap/css")
        @Styles.Render("~/Content/css")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" ui-view="menu">

        </div>

        <div ui-view="shell"></div>

        @Scripts.Render("~/bundles/others")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/angularApp")
    </body>
</html>
