﻿
<div class="modal-header">
    <button type="button" class="close" ng-click="vm.close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Login</h3>
</div>
<div class="modal-body">
    
    <form class="form-horizontal" name="loginForm" novalidate>
        
        <div class="form-group" ng-class="{
             'has-error has-feedback': (loginForm.username.$invalid && loginForm.username.$dirty) || (loginForm.$submitted && loginForm.username.$invalid), 
             'has-success has-feedback': (loginForm.username.$valid && loginForm.username.$dirty) || (loginForm.$submitted && loginForm.username.$valid)}">

            <label class="control-label col-sm-2">Username:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Username" name="username" ng-model="vm.loginDetails.userName" ng-minlength="5" />

                <span ng-show="(loginForm.username.$valid && loginForm.username.$dirty) || (loginForm.$submitted && loginForm.username.$valid)"
                      class="glyphicon glyphicon-ok form-control-feedback"
                      aria-hidden="true">
                </span>
                <span ng-show="(loginForm.username.$invalid && loginForm.username.$dirty) || (loginForm.$submitted && loginForm.username.$invalid)"
                      class="glyphicon glyphicon-remove form-control-feedback"
                      aria-hidden="true">
                </span>
            </div>

        </div>
        
        <div class="form-group" ng-class="{
             'has-error has-feedback': (loginForm.password.$invalid && loginForm.password.$dirty) || (loginForm.$submitted && loginForm.password.$invalid),
             'has-success has-feedback': (loginForm.password.$valid && loginForm.password.$dirty) || (loginForm.$submitted && loginForm.password.$valid)}">

            <label class="control-label col-sm-2">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="Password" name="password" ng-model="vm.loginDetails.password" ng-minlength="5" />

                <span ng-show="(loginForm.password.$valid && loginForm.password.$dirty) || (loginForm.$submitted && loginForm.password.$valid)"
                      class="glyphicon glyphicon-ok form-control-feedback"
                      aria-hidden="true">
                </span>
                <span ng-show="(loginForm.password.$invalid && loginForm.password.$dirty) || (loginForm.$submitted && loginForm.password.$invalid)"
                      class="glyphicon glyphicon-remove form-control-feedback"
                      aria-hidden="true">
                </span>
            </div>

        </div>

    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.login()">Login</button>
</div>