﻿<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a ui-sref="home" class="navbar-brand">Mission Fitness</a>
    </div>
    <div class="navbar-collapse collapse" collapse="isCollapsed">
        <ul class="nav navbar-nav">
            <li><a ui-sref="main.home.index">Home</a></li>
            <li ng-if="vm.loggedIn" dropdown> 
                <a href="#" dropdown-toggle>Admin</a>
                
                <ul class="dropdown-menu">
                    <li><a ui-sref="admin.memberRegistration">Register Member</a></li>
                    <li><a ui-sref="admin.medicalProfile">Medical Profile</a></li>
                </ul>
            </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right" ng-if="vm.loggedIn == false">
            <li><a href="#" ng-click="vm.login()">Login</a></li>
        </ul>
        <p class="navbar-text navbar-right" ng-if="vm.loggedIn">
            {{vm.username}} | <a href="#" ng-click="vm.logout()">Logout</a>
        </p>
    </div>
</div>